TELEGRAM_TARGET=""
REPORT_CHANNEL="telegram"
AUTO_UPDATE="true"
UPDATE_CHANNEL="stable"
TIMEZONE="America/Sao_Paulo"
UPDATE_TIMEOUT="900"
DOCTOR_TIMEOUT="300"
GATEWAY_WAIT_TIMEOUT="180"
GATEWAY_WAIT_INTERVAL="5"
MAX_CONSECUTIVE_UPDATE_FAILURES="3"
